*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-dark: #5B0888;
    --background-normal: #713ABE;
    --background-light: #9D76C1;
    --background-super-light: #E5CFF7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40rem;
    aspect-ratio: 1/1;
}

.card__header {
    height: 60%;
    background: var(--background-normal);
}

.card__body {
    height: 20%;
}

.card__footer {
    height: 20%;
}